@use "../src/partials/colors.scss";

html, body {
  background: colors.$White fixed no-repeat center/cover url('./data/paint-bg.webp');
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.display {
  display: inline-block;
}

.active {
  background-color: #215e75;
  filter: invert(1);
}

input[type="file"] {
  display: none;
}

.no-input {
  pointer-events: none;
}