@use "../../partials/mixins.scss";
@use "../../partials/colors.scss";
@use "../../partials/fonts.scss";
@use "../../partials/screens.scss";

@keyframes slowfade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.paint {
  &__tools {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &--controller {
      margin-right: 0.25rem;
    }
    &--color {
      cursor: pointer;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      &--icon {
        height: 1rem;
        margin-right: 0.25rem;
        transform: rotate(-90deg);
      }
      &--input {
        width: 75%;
        padding: 0;
        border: 0;
        appearance: none;
        background: none;
        box-sizing: content-box;
      }
    }
    &--width {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &--size {
      display: flex;
    }
    &--opacity {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &--slider {
      &-o {
        @include mixins.scrub-bar;
        background-size: 100% 100%;
        &::-webkit-slider-thumb {
          @include mixins.scrub-button;
        }
      }
      &-s {
        @include mixins.scrub-bar;
        background-size: 20% 100%;
        &::-webkit-slider-thumb {
          @include mixins.scrub-button;
        }
      }
      @include mixins.scrub-bar;
      margin-top: 1.05rem;
      background-size: 100% 100%;
      &::-webkit-slider-thumb {
        @include mixins.scrub-button;
      }
      &--icon {
        &-s {
          background-color: colors.$K;
          margin: 0.95rem 1rem 1.05rem 1rem;
          border-radius: 50%;
          width: 0.5rem;
          height: 0.5rem;
          cursor: pointer;
        }
        &-o {
          background-color: lightgrey;
          margin: 0.25rem;
          border: 2px solid colors.$K;
          border-radius: 50%;
          width: calc(2rem - 4px);
          height: calc(2rem - 4px);
          cursor: pointer;
        }
        &--end {
          background-color: colors.$K;
          margin: 0.25rem;
          border-radius: 50%;
          width: 2rem;
          height: 2rem;
          cursor: pointer;
        }
      }
    }
    &--icon {
      padding: 0.25rem;
      border-radius: 0.25rem;
      width: 3rem;
      height: 3rem;
      cursor: pointer;
    }
    &--click {
      display: flex;
    }
    &--stamp {
      position: relative;
    }
    &--modal {
      z-index: 100;
      position: absolute;
      background-color: colors.$White;
      border-radius: 0.5rem;
      box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.5);
      padding: 0.5rem;
      width: 7rem;
      height: 7rem;
      top: 0;
      right: 4rem;
      &--icon {
        padding: 0.25rem;
        border-radius: 0.25rem;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
      }
    }
    &--warning {
      animation-name: slowfade;
      animation-duration: 1s;
      border-radius: 0.25rem;
      position: absolute;
      z-index: 44;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: colors.$Magenta;

      & > div {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & > p {
          font-family: "Quicksand", sans-serif;
          text-align: center;
        }
        & > img {
          width: 5rem;
        }
        & > div {
          display: flex;
          justify-content: center;
        }
      }
      &--button {
        @include mixins.dl-button;
        font-family: "Quicksand", sans-serif;
        border: none;
        cursor: pointer;
        transition: background-color 0.2s;
        &:hover {
          background-color: colors.$DeepMagenta;
        }
      }
    }
  }
}

.left {
  margin-left: 0.5rem;
}

@media (orientation: landscape) {
@media (min-width: screens.$Tablet) {
  .paint {
    &__tools {
      flex-direction: column;
      &--size {
        margin-top: 0.5rem;
        justify-content: center;
      }
      &--click {
        justify-content: center;
      }
      &--slider {
        &-s {
          margin-top: 0;
        }
        &--icon {
          &-s {
            width: 0.25rem;
            height: 0.25rem;
            margin: 0 0.65rem;
          }
          &-o {
            width: calc(1rem - 4px);
            height: calc(1rem - 4px);
          }
          &--end {
            width: calc(1rem - 4px);
            height: calc(1rem - 4px);
          }
        }
      }
      &--icon {
        width: 2rem;
        height: 2rem;
      }
      &--warning {
        & > div {
          padding: 0.75rem;  
          & > img {
            margin-top: 0.75rem;
            width: 3rem;
          }
          & > p {
            margin: 0.5rem 0;
          }
        }
        &--button {
          padding: 0.25rem;
        }
      }
    }
  }
}

@media (min-width: screens.$Desktop) {
  .paint {
    &__tools {
      &--icon {
        width: 3rem;
        height: 3rem;
      }
      &--warning {
        & > div {
          & > img {
            width: 4rem;
            margin-top: 1.5rem;
          }
        }
      }
    }
  }
}
}