.homepage {
    &__paint-tools {
        display: flex;
        flex-wrap: wrap;
        &--color {
            height: 2rem;
            width: 2rem;
        }
        &--icon {
            width: 2rem;
            height: 2rem;
            cursor: pointer;
        }
    }
}

.active {
 
}