.homepage {
    &__paint-tools {
        display: flex;
        flex-wrap: wrap;
        &--color {
            height: 2rem;
            width: 2rem;
        }
        &--icon {
            padding: 0.25rem;
            border-radius: 0.25rem;
            width: 2rem;
            height: 2rem;
            cursor: pointer;
        }
    }
}

.active {
    background-color: rgb(29, 143, 52);
    filter: invert(1);
}