@use "../../../src/partials/colors.scss";
@use "../../../src/partials/mixins.scss";

@keyframes loading {
  0% {
    opacity: 0;
    top: 1rem;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.profile {
  &__image {
    margin: 0.5rem 0.5rem;
    position: relative;
    animation-name: loading;
    animation-duration: 1s;
    &--close {
      background-color: colors.$White;
      padding: 0.25rem;
      border-radius: 50%;
      width: 0.75rem;
      margin-top: 0.25rem;
      left: 0.25rem;
      position: absolute;
      z-index: 50;
      &:hover {
        filter: invert(1);
      }
    }
    &--modal {
      position: absolute;
      top: 0.05rem;
      left: 0.05rem;
      width: 8rem;
      height: 8rem;
      background-color: rgba(255, 255, 255, 0.75);
      & > p {
        text-align: center;
      }
      &--container {
        display: flex;
        justify-content: center;
      }
      &--yes {
        @include mixins.md-button;
        margin-right: 1rem;
      }
      &--no {
        @include mixins.md-button;
      }
    }
    &--thumbnail {
      background-color: colors.$White;
      transition: transform 0.2s;
      border-radius: 0.25rem;
      width: 8rem;
      border: 1px solid colors.$K;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

@media (min-width: 668px) {
  .profile {
    &__image {
      &--thumbnail {
        width: 9rem;
        height: 9rem;
      }
      &--modal {
        width: 9.05rem;
        height: 9.05rem;
      }
    }
  }
}
