@use "../../partials/colors.scss";
@use "../../partials/screens.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: colors.$Magenta;
    padding: 1rem;
    box-shadow: 0 0.25rem 0.25rem rgba(135, 132, 148, 0.5);
    & > div {
        cursor: pointer;
    }
}

@media (min-width: screens.$Tablet) {
    .header {
        padding: 1rem 2rem;
    }
}