@use "../../partials/colors.scss";
@use "../../partials/fonts.scss";
@use "../../partials/screens.scss";

.ac {
    &__title {
        font-family: "Quicksand", sans-serif;
        font-weight: 700;
        text-align: center;
    }
    &__text {
        font-family: "Quicksand", sans-serif;
        width: 70%;
        margin: 1rem auto;
        text-align: center;
    }
    &__italic {
        @extend .ac__text;
        margin-top: 3rem;
        font-style: italic;
    }
    &__link {
        font-family: "Quicksand", sans-serif;
        cursor: pointer;
        background-color: colors.$K;
        color: colors.$White;
        padding: 0.5rem;
        border-radius: 0.5rem;
    }
    &__container {
        margin: 1rem auto;
        width: 50%;
        display: flex;
        justify-content: space-evenly;
    }
}

@media(orientation: landscape) {
    @media(min-width: screens.$Tablet) {
        .ac {
            &__text {
                width: 40%;
            }
            &__container {
                width: 30%;
            }
        }
    }
}