@use "../../partials/colors.scss";

.ac {
    &__title {
        text-align: center;
    }
    &__text {
        width: 40%;
        margin: 1rem auto;
        text-align: center;
    }
    &__italic {
        @extend .ac__text;
        margin-top: 3rem;
        font-style: italic;
    }
    &__link {
        cursor: pointer;
        background-color: colors.$K;
        color: colors.$White;
        padding: 0.5rem;
        border-radius: 0.5rem;
    }
    &__container {
        margin: 1rem auto;
        width: 30%;
        display: flex;
        justify-content: space-evenly;
    }
}