@use "../partials/colors.scss";

@mixin scrub-bar {
    -webkit-appearance: none;
    background: black;
    background-image: linear-gradient(colors.$Cyan, colors.$Cyan);
    background-repeat: no-repeat;
    height: 0.25rem;
    border-radius: 0.625rem;
}

@mixin scrub-button {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 0;
    background: url("../data/scrub.svg");
    cursor: pointer;
}

@mixin dl-button {
    background-color: colors.$K;
      color: colors.$White;
      padding: 0.5rem;
      border-radius: 0.5rem;
}